[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "*"
pytest = "*"
pylint = "*"
codecov = "*"
flake8 = "*"
pytest-sugar = "*"
pytest-xdist = "*"
pathlib = "*"
black = "*"
pytest-cov = "*"

[packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
